@font-face {
  font-family: "epic-bold";
  src: url("/font/InterTight-Bold.latin.woff2") format("woff2");
}

@font-face {
  font-family: "epic-font";
  src: url("/font/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2")
    format("woff2");
}

@font-face {
  font-family: "epic-regular";
  src: url("/font/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7W0Q5n-wU.woff2")
    format("woff2");
}

@font-face {
  font-family: "epic-add";
  src: url("/font/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7W0Q5n-wU.woff2")
    format("woff2");
}

svg {
  fill: currentColor;
}

body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  overflow-y: scroll;
}

.main-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  background: rgb(16, 16, 20);
  color: rgb(255, 255, 255);
}

.header-container {
  align-self: start;
  width: 100%;
  height: auto;
  z-index: 1000;
  background: rgba(16, 16, 20, 0.7);
  backdrop-filter: blur(50px);
  display: flex;
  align-items: center;
  box-sizing: border-box;
  column-gap: 0.75rem;
  height: 4.5rem;
  padding-block: 0;
  padding-inline: 1rem;
  position: relative;
  width: 100%;
}

header .logo-btn {
  display: flex;
  gap: 0.125rem;
  background: transparent;
  border: none;
  position: relative;
  align-items: center;
  z-index: 1;
  padding: 0;
}

header .logo-btn .logo-svg {
  height: 2rem;
  width: 2rem;
  color: #ffffff;
}

header .logo-btn .down-arrow-svg {
  height: 0.75rem;
  width: 0.75rem;
  color: #ffffff;
}

.nav-bar {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}

nav .store-img {
  height: 1.75rem;
  width: auto;
  row-gap: 2rem;
  column-gap: 0.5rem;
}

nav .right-container {
  display: flex;
  align-items: center;
  gap: 0.375rem;
}

nav .install-btn {
  background-color: #26bbff;
  display: flex;
  align-self: center;
  font-weight: 500;
  border-radius: 0.375rem;
  border: none;
  color: #000000;
  font-family: "epic-font";
  letter-spacing: 0.02rem;
  font-size: 0.875rem;
  letter-spacing: 0.28px;
  padding: 6px 8px;
  line-height: 1rem;
}

nav .mob-menu {
  background: transparent;
  border: 0;
  padding: 0.75rem;
  margin: -0.75rem;
  margin-inline-start: auto;
  height: 48px;
}

nav .mob-menu .menu-svg {
  height: 1.5rem;
  width: 1.5rem;
  color: #ffffff;
}

main {
  width: 100%;
  flex-grow: 1;
  z-index: auto;
}

.search-section-container {
  height: 80px;
  background-color: rgb(16, 16, 20);
  position: sticky;
  top: 0;
  z-index: 999;
  width: 90%;
  margin-inline: auto;
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
}

.search-section-container .search-btn {
  display: flex;
  height: 100%;
  background: transparent;
  border: none;
  align-items: center;
  justify-content: flex-start;
  padding: 13.6px;
  width: auto;
  min-width: initial;
}

.search-section-container .search-btn .search-icon {
  color: #ffffff;
  height: 17px;
  width: 17px;
}

.browse {
  padding-inline: 10px;
  margin-left: 11px;
  margin-top: 1px;
  margin-right: -1px;
  color: rgba(173, 177, 179, 1);
  display: none;
}

.search-section-container .search-input {
  background: transparent;
  border: none;
  border-radius: 20%;
  padding: 0;
  width: 100%;
  display: none;
}

.search-section-container .discover {
  font-family: "epic-font";
  font-weight: 400;
  letter-spacing: 0.02em;
  font-size: 0.875rem;
  line-height: 140%;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.search-section-container .discover .discover-text {
  margin-top: 1px;
  margin-left: 1px;
}

.search-section-container .discover .down-arrow {
  width: 10px;
  height: 10px;
  line-height: 0;
  transform: rotateZ(90deg);
  margin-left: 4px;
}

.carousel-container {
  margin-bottom: 64px;
  position: relative;
  padding-left: 15px;
}

.carousel-images {
  display: flex;
  height: 100%;
  width: 100%;
  transition-duration: 0ms;
  transform: translate3d(0px, 0px, 0px);
  transition-delay: 0ms;
  z-index: 1;
  overflow-x: scroll;
  scrollbar-width: none;
  position: relative;
}

.carousel-images .carousel {
  height: auto;
  width: 100%;
  margin-right: 15px;
}

.carousel-images .carousel .img {
  width: 297.5px;
  height: auto;
  border-radius: 8px;
}

.carousel-scroll {
  display: flex;
  margin-block: 15px 20px;
  justify-content: center;
  column-gap: 14px;
}

.carousel-scroll-dot{
  display: flex;
  margin-block:  20px;
  justify-content: center;
  column-gap: 14px;
}

.scroll-btn-active {
  position: relative;
  border: none;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  opacity: 1;
}

.scroll-btn-non-active {
  position: relative;
  border: none;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  opacity: 0.3;
}

.tab-container,
.toolbar,
.tab-view {
  display: none;
}

.hero-carousel-container{
  margin-bottom: 64px;
  position: relative;
  margin-top: 20px;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.hero-carousel-container .hero-images{
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    /* flex: 1; */
    z-index: 1;
    overflow-x: scroll;
    scrollbar-width: none;
     box-sizing: content-box;

}

.hero-carousel-container .card-container{
    width: 310px;
    margin-right: 15px;
    height: 100%;
    position: relative;
    border-radius: 16px;
    flex-shrink: 0;  
}

.ml{
  margin-left: 16px;
}

.hero-carousel-container .card-container picture{
  display: block;
  /* background-color: #fff; */
  width: 100%;
  height: auto;
 
}

.hero-carousel-container .hero-img{
    width: 100%;
    display: block;
    opacity: 1;
    border-radius: 16px;
    height: 413.33px;
    
}


.hero-carousel-container .bg-shade{
  position: absolute;
  display: block;
   width: 100%; 
  height: 80%;
  bottom: 0px;
  left: 0;
  background: linear-gradient(to top, rgba(11, 11, 11, 0.85), rgba(11, 11, 11, 0));
  border-radius: 14px;
 
}

.wishlist-btn{
    position: absolute;
    background: rgb(16, 16, 20);
    color: rgb(255, 255, 255);
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
    z-index: 1;
    top: 10px;
    right: 10px;
    /* top: 20px;
    right: 20px; */

}

.wishlist-btn::before{
    height: 10px;
    width: 2px;
    background: rgb(255, 255, 255);
    content: "";
    bottom: 0;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    margin:auto;
}

.wishlist-btn::after{
    height: 2px;
    width: 10px;
     background: rgb(255, 255, 255);
    content: "";
    bottom: 0;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    margin:auto;
}

.hero-carousel-container .card-content{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
}

.hero-carousel-container .card-content .gta-title{
  width: 150px;
  height: 65px;
  margin-bottom: 20px;
  background-image: url('	https://cdn2.unrealengine.com/egs-gta-5-carousel-logo-339x293-6326ab179b3c.png');
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: contain;
}

.hero-carousel-container .blade-title{
  width: 150px;
  height: 65px;
  margin-bottom: 20px;
  background-image: url('	https://cdn2.unrealengine.com/egs-blades-of-fire-carousel-logo-350x312-0fd6d9da3eb7.png');
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: contain;
}

.hero-carousel-container .card-content .fc-title{
  width: 150px;
  height: 65px;
  margin-bottom: 20px;
  background-image: url('	https://cdn2.unrealengine.com/egs-ea-fc-25-standard-edition-carousel-logo-350x112-0b199810d945.png');
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: contain;
}

.hero-carousel-container .card-content .crystal-title{
  width: 150px;
  height: 65px;
  margin-bottom: 20px;
  background-image: url('	https://cdn2.unrealengine.com/en-egs-crystal-of-atlan-carousel-logo-350x248-c471cf64728a.png');
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: contain;
}

.hero-carousel-container .card-content .crystal-title{
  width: 150px;
  height: 65px;
  margin-bottom: 20px;
  background-image: url('	https://cdn2.unrealengine.com/en-egs-crystal-of-atlan-carousel-logo-350x248-c471cf64728a.png');
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: contain;
}

.hero-carousel-container .card-content .binary-title{
  width: 150px;
  height: 65px;
  margin-bottom: 20px;
  background-image: url('https://cdn2.unrealengine.com/egs-binary-smoke-carousel-logo-350x229-01001da9c7e7.png');
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: contain;
}


.hero-carousel-container .card-content .offer-text{
  font-size: 9px;
  letter-spacing: 0.09px;
  line-height: normal;
  font-weight: bold;
  display: flex;
  margin-bottom: 10px;
  font-family: "epic-font";

}

.hero-carousel-container .card-content .game-description{
  margin-bottom: 25px;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 1.4;
  font-weight: 500;
  font-family: "epic-font";

}

 .price-details{
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

 .offer-btn{
  border: none;
  border-radius: 20px;
  padding: 0 8px;
  background-color: rgb(38, 187, 255);
  color: #000000;
  min-height: 1.25rem;
  align-items: center;
  display: inline-flex;
  font-weight: 500;
  gap: 0.25rem;
  max-width: fit-content;
  font-size: 0.75rem;
  line-height: 150%;
  font-family: 'epic-font';
  letter-spacing: 0.02em;
  position: relative;
  top: 1px;
}

.price-details .price-container{
  margin-left: 10px;
  display: inline-flex;
  color: rgba(255, 255, 255, 0.65);
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 0.02em;
  align-items: center;
}

 .actual-price{
  line-height: 165%;
  text-decoration: line-through;
  font-family: 'epic-font';
}

 .offer-price{
  margin-left: 10px;
  color: #ffffff;
  line-height: 140%;
  font-family: 'epic-font';
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 0.02em;

}

 .direct-price{
  color: #ffffff;
  line-height: 140%;
  font-family: 'epic-font';
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 0.02em;
}

.hero-carousel-container .main-image, .right-hero-section{
  display: none;
}

.card-carousel-container {
    margin-bottom: 64px;
    position: relative;
    padding-left: 16px;
}

.card-carousel-container .heading-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 16px 18px 0px;

}

 .discover-heading{
  display: flex;
  font-family: 'epic-bold';
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 125%;
  font-size: 1.25rem;
  margin-block: 0;

}

.arrow-right{
  margin-left: 5px;
  
}

 .carousel-wrapper{
  display: flex;
  height: 100%;
  position: relative;
  box-sizing: content-box;
  width: 100%;
  z-index: 1;
  overflow-x: scroll;
  scrollbar-width: none;
}

.card-carousel-container .carousel-card{
  width: 216.875px;
  margin-right: 20px;
  transform: translateZ(0);
  height: auto;
  display: flex;
  flex-shrink: 0;
  position: relative;
  flex-direction: column;
  margin-bottom: 40px;
}

 .card-img-container{
  position: relative;
  margin-bottom: 10px;
  
}

.card-carousel-container .carousel-card .card-img{
  width: 100%;
  border-radius: 8px;
  height:auto;
  position: relative;
  transform: translate(-50% , -50%);
  top: 50%;
  left: 50%;
  object-fit: cover;
  display: block;

}

.card-carousel-container .carousel-card .game-info{
  display: flex;
  flex-direction: column;
  font-family: 'epic-font';
  flex-grow: 1;
  flex-shrink: 0;
  font-weight: 400;

}

.card-carousel-container .carousel-card .game-info .base-game-text{
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.75rem;
  line-height: 150%; 
  letter-spacing: 0.02em;
}

.card-carousel-container .carousel-card .game-info .game-name{
  margin-block: 5px;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 125%;
  font-family: 'epic-bold';
}

.card-carousel-container .carousel-card .game-info .game-price{
  margin-top: 10px;
  letter-spacing: 0.02em;
  font-size: 0.875rem;
  line-height: 140%;

}

.right-left-btn{
  display: none;
}

.carousel-container .carousel-wrapper .content-container{
  display: flex;
  flex-direction:column ;
  position: relative;
  /* height: 100%; */
  flex-shrink: 0;
  width:297.5px;

  margin-right: 15px;
  /* width: 79.3336vw; */
  
}

.landscape-container{
  position: relative;
  aspect-ratio: 16 / 9;
  /* width: 100%; */
}

.landscape-img{
  position: relative;
  bottom: 0px;
  display: block;
  height: auto;
  width:100%;
  border-radius: 8px;
}

.landscape-game-data{
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0;
  margin-top: 20px;
  padding-right: 24px;
  /* padding given two times */
}

.landscape-game-data .game-name{
  width: 100%;
  margin-bottom: 10px;
  font-family: 'epic-bold';
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 125%;
  font-size: 1.25rem;
  margin-top: 0;
}

.landscape-game-data .game-description{
  display: flex;
  flex: 1;
  color: hsla(0,0%,100%,0.65);
  font-family: 'epic-font';
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 0.02em;
  line-height: 165%;
}

.landscape-game-data .shop-btn{
  margin-top: 20px;
  display: inline-flex;
  align-self: flex-start;
  padding-inline: 1rem;
  border-radius: 8px;
  height: 2.5rem;
  padding-block: 0.5rem;
  background-color: hsla(0,0%,100%,0.15);
  border: none;
  font-family: 'epic-font';
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  color: #fff;
  font-size: 16px;
}

.landscape-game-data .shop-btn .shop-svg{
  margin-inline-start: 0.25rem;
  height: 1.25rem;
  width: 1.25rem;
  translate: 0px -1.4px;
}

.mt-10{
  margin-top: 10px;
}

.mt-20{
  margin-top: 20px;
}

.free-games-container{
  margin-bottom: 64px;
  padding-inline: 0;
  padding-block: 30px;
  overflow: hidden;
  position: relative;
  background-color: rgb(32, 32, 36);
  color: rgb(255, 255, 255);
}

.free-games-container .free-games-title-container{
  padding-inline: 1rem;
  min-height: 30px;
  margin-bottom: 25px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.free-games-container .free-games-title{
  display: flex;
  align-items: center;
  color: #fff;
  font-family: 'epic-bold';
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 125%;
  font-size: 1.25rem;
  margin: 0;
}

.free-games-container .free-games-title .gift-svg{
  width: 27px;
  height: 27px;
  display: block;
  margin-right: 18px;
}

.free-games-container .view-more-btn{
  padding-inline:15px ;
  padding-block: 7px;
  border-radius: 8px;
   border: 1px solid hsla(0,0%,100%,0.35);
   height: 2.5rem;
  background-color: transparent;
  color: #fff;
  display: inline-flex;
  font-weight: 500;
  align-items: center;
  font-family: 'epic-font';
  letter-spacing: 0.02em;
  font-size: 0.875rem;
  line-height: 140%;
  justify-content: center;
}

.free-games-container .free-card-container{
  display: flex;
  overflow-x: scroll;
  height: 100%;
  width: 100%;
  scrollbar-width: none;
  flex: 0 1 auto;
  flex-wrap: nowrap;
}
.free-games-container .free-card-container::after{
  min-width: 1rem;;
}
.free-games-container .free-card{
  padding-left: 1rem;
     min-width: calc(85.7334% - 1rem);
  flex-shrink: 1;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
  margin-bottom:18px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.free-card-container .free-img-container{
  width: 100%;
  height: 100%;
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
 
}

.free-card-container .free-img-container .free-img{
  position: relative;
  height: 100%;
  width: 100%;
}


.free-card-container .free-img-container .free-now-btn{
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 1.3333;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  padding: 5px;
  text-align: center;
  background-color: rgb(38, 187, 255);
  color: rgb(0, 0, 0);
  font-family: 'epic-font';
}

.free-card-container .free-game-info{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-right: 20px;
  gap: 5px;
  margin-top: 10px;
  flex-shrink: 0;
}

.free-card-container .free-game-info .game-name{
  color: #fff;
  font-size: 1rem;
  font-family: 'epic-bold';
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 125%;
  margin: 0;
}

.free-card-container .free-game-info .availability-text{
  color:hsla(0,0%,100%,0.65);
  font-size: 1rem;
  font-family: 'epic-font';
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 165%;
  margin: 0;
}

.small-card-container{
  list-style: outside none none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  width: 996px;
  position: relative;
  margin-bottom: 20px;
}

.small-card-container .vertical-container{
  border-right: 1px solid rgb(64, 64, 64);
  padding: 0px 16px;
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.small-card-container .all-small-card{
  list-style: outside none none;
  margin: 0px;
  padding: 0px;
  width: 100%;
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.vertical-container .small-card{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  overflow: hidden;
}

.vertical-container .img-section{
 position: relative;
 margin-right: 15px; 
  max-width: 100%;
}

.vertical-container .img-section .small-img{
 height: auto;
 display: block;
 opacity: 1;
 width: 48px;
 height: 64px;
}

.all-small-card .small-card-info{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.all-small-card .small-card-info .name{
  color: #fff;
  font-size: 1rem;
  font-family: 'epic-bold';
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 125%;
  margin-inline: 0;
  margin-top: 0;
  margin-bottom: 12px;
}

.block{
  display: block;
}

.btn-size-20{
  height: 20px;
  width: 20px;
  top: 4px;
  left: 24px;
}



.current-offer{
  color: rgba(255, 255, 255, 0.65);
  font-family: 'epic-font';
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 0.02em;
  line-height: 165%;
  margin: 0;
  margin-left: 10px;
  text-decoration: line-through;
}

.current-price{
  margin-left: 10px;
  color: rgba(255, 255, 255, 0.65);
  font-family: 'epic-font';
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 0.02em;
  line-height: 140%;
  margin: 0;
}

/* tablet screen  */
@media screen and (min-width: 768px) {
  .mobile-view {
    display: none;
  }
  .tab-view {
    display: block;
  }

  nav .install-btn {
    padding: 8px 12px;
  }

  .header-container {
    padding: 20px 24px;
  }

  nav .store-img {
    width: 54px;
    height: 32px;
    margin-right: 0.5rem;
    margin-left: 4px;
  }

  nav .tab-container {
    display: flex;
    flex-grow: 1;
    padding: 0;
    margin: 0;
    font-family: "epic-font";
  }

  nav .tab-container .support-text {
    height: 4.5rem;
    display: flex;
    align-items: center;
    width: auto;
    padding: 10px 12px;
    font-size: 0.875rem;
    line-height: 150%;
    letter-spacing: 0.02em;
    white-space: nowrap;
  }

  nav .tab-container .down-svg {
    height: 0.75rem;
    width: 0.75rem;
    color: #ffffff;
    margin-left: 4px;
  }

  nav .right-container .toolbar {
    display: flex;
    align-items: center;
    flex-grow: 0;
    flex: 1;
    position: relative;
    z-index: 1;
    gap: 0.5rem;
  }
  nav .right-container .toolbar .lang-svg {
    border: none;
    padding: 0.25rem;
    background-color: transparent;
    height: 32px;
  }

  nav .right-container .toolbar .glob-svg {
    inline-size: 1.5rem;
    block-size: 1.5rem;
    color: #ffffff;
  }

  .right-btn-common {
    padding-block: 0.25rem;
    padding-inline: 0.75rem;
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 0.875rem;
    line-height: 1.5rem;
  }

  nav .right-container .sign-btn {
    border: none;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 0.375rem;
    font-family: "epic-font";
    color: #ffff;
  }

  nav .right-container {
    gap: 1rem;
  }

  .carousel-container {
    padding-inline: 31px;
  }

  .carousel-images{
    display: flex;
    justify-content: space-evenly;
  }

  .carousel-images .carousel {
    width: calc(100% / 3 - 16px);
    display: flex;
    flex-direction: column;
    height: auto;
    margin-left: 20px;
    margin-right: 0;
  }

  .carousel-images .carousel:first-child{
    margin-left: 0;
    margin-right: 0;
  }


  .carousel-images .carousel .img {
    width: 100%;
    height: 100%;
  }

   .hero-carousel-container .hero-images{
    display: none;
  }

  .carousel-scroll{
    display: none;
  }

  .carousel-scroll-dot{
    display: none;
  }

  .hero-carousel-container{
    display: flex;
    padding-inline: 1rem;
    width: auto;
    flex-direction: row;
  }

  .hero-carousel-container .main-image{
    position: relative;
    width: 100%;
    height: 100%;
    flex-basis: calc(100% - (160px + 16px));
    display: flex;
  }

  .hero-carousel-container .hero-img-tab{
    /* position: absolute; */
    height: 100%;
    width: 100%;
    /* opacity: 0; */
     border-radius: 16px;
    
  }

  .hero-carousel-container .bg-shade{
  position: absolute;
  width: 80%;
  left: 0;
  top: 0;
  height:100%;
  opacity: 0.6;
  z-index: 0;
  background: linear-gradient(270deg, rgba(11, 11, 11, 0) 0%, #0B0B0B 100%, #0B0B0B 100%);
  bottom: 0;
  
}

.hero-carousel-container .hero-content-tab{
  left: 32px;
  width: 360px;
  z-index: 1;
  position: absolute;
  bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: start;
  top: 0;
  font-family: 'epic-font';
  color: #ffffff;

}

.hero-carousel-container .blade-title{
  height: 55px;
  background-image: url('https://cdn2.unrealengine.com/egs-blades-of-fire-carousel-logo-350x312-0fd6d9da3eb7.png');
  background-position: left bottom;
   
}

.hero-carousel-container .offer-text{
  font-weight: 700;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.hero-carousel-container .game-description{
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0em;
  line-height: 165%;
  word-break: break-word;
  margin-bottom: 30px;
}

.direct-price{
  color: rgb(245, 245, 245);
  font-weight: 400;
  letter-spacing: 0.02em;
  font-size: 0.875rem;
  margin-bottom: 10px;
  font-family: 'epic-font';
  line-height: 140%;
  width: 375px;
}

.hero-carousel-container .hero-btn{
  display: flex;
  gap: 16px;
  width: 375px;
  
}

.hero-carousel-container .buy-btn{
  padding:12px 20px;
  border-radius: 10px;
  height: 3rem;
  background: #ffff;
  border: none;
  color: #000000;
  width: 100%;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: none;
  position: relative;
  font-size: 0.875rem;
  font-family: 'epic-font';
  text-align: center;
  letter-spacing: 0.02em;
  line-height: 140%;
}

.hero-carousel-container .wish-btn{
 padding: 12px 20px 12px 16px;
 gap: 0.75rem;
 border-radius: 10px;
 height: 3rem;
 background: transparent;
 font-family: 'epic-font';
 border: none;
 color: #ffff;
 width: 100%;
 font-weight: 500;
 display: inline-flex;
 justify-content: center;
 align-items: center;
 text-align: center;
 position: relative;
 font-size: 0.875rem;
 letter-spacing: 0.02em;
 line-height: 140%;

}

.hero-carousel-container .right-hero-section{
  margin-left: 16px;
  flex-basis: 160px;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 1;
  height: auto;
  width: 100%;
  position: relative;
  list-style: none;
  justify-content: space-between;
  padding: 0;
  margin-block: 0;
  margin-right: 0;
}

.right-hero-section .small-card{
  display: flex;
  height: 16.666666666666668%;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  /* height: 100%; */
  justify-content: flex-start;
  position: relative;
  align-items: center;
}

.right-hero-section .small-card-img{
  position: relative;
  width:100%;
  height: auto;
  margin: 0 10px;
  flex-shrink: 0;
  flex-basis: 28px;
  border-radius: 4px;
  overflow: hidden;
  z-index: 1;
  display: flex;
  /* padding-bottom: calc(4/3 * 100%); */

}

.right-hero-section .small-card-text{
  font-family: 'epic-font';
  font-weight: 400;
  letter-spacing: 0.02em;
  font-size: 0.875rem;
  line-height: 140%;
  padding-right: 10px;
  z-index: 1;
  margin: 0;
  display: flex;
  align-self: center;
}

.right-hero-section .small-card-shade{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 0;
  background-color: #28282c;
}

.mt-3{
  margin-top: 3px;
}

.right-left-btn{
  display: flex;
  column-gap: 10px;
}


.right-left-btn .left-btn{
  width: 30px;
  height: 30px;
  border: none;
  background-color: rgba(255, 255, 255, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 1) ;
  border-radius: 100%;
  opacity: 0.;
}

.scale{
transform: scaleX(-1);
}

.right-left-btn .left-btn::before{
  content: '';
  background-color: rgba(255, 255, 255, 0.15);
}

.arrows{
  width: 12px;
  height: 12px;
}

.arrow-right{
  align-self: center;
}

.card-carousel-container .heading-container{
  margin: 0 32px 18px 0px;
}

.discover-heading{
  align-self: flex-start;
}
.card-carousel-container .carousel-card{
  width: 169px;
  margin-bottom: 59px;
}

.wishlist-btn{
  display: none;
}

.carousel-container .carousel-wrapper .content-container{
  width: calc(100% / 3 - 16px);
  margin-right: 20px;
}

.tab-view{
  display: flex;
  justify-content: space-evenly;
}

 .carousel-container .carousel-wrapper :nth-child(3){
  margin-right: 0px;
}

.free-games-container{
  padding-inline: 30px;
  border-radius: 8px;
}
.free-games-container .free-card{
  flex-basis: calc(33% - 1rem);
  min-width: 0;
  margin-bottom: 10px;
}

.free-games-container .free-card:first-child{
  padding-left: 0;
  margin-left: 0;
}

.free-games-container .free-games-title-container{
  padding-inline: 0;
}

.free-games-container .free-games-title .gift-svg{
  width: 35px;
  height: 35px;
  margin-right: 14px;
}

}

/* laptop screen */

@media screen and (min-width: 1024px) {
  .search-section-container {
    width: 75%;
    height: 100px;
  }
  .search-input-lap {
    display: flex;
    position: relative;
    min-width: 230px;
    width: 230px;
    height: 40px;
    align-self: center;
    margin: 8px 0;
    border-radius: 24px;
    background-color: rgb(32, 32, 32);
  }

  .search-section-container .search-btn .search-icon {
    width: 12.75px;
    height: 12.75px;
    color: rgba(255, 255, 255, 0.65);
  }

  .search-section-container .search-input {
    display: block;
  }
  .search-section-container .search-input::placeholder {
    color: rgba(173, 177, 179, 1);
  }
  .search-section-container .discover {
    position: relative;
    justify-content: flex-start;
    margin-left: 19px;
    padding-inline: 10px;
  }

  .carousel-container{
    width: 75%;
    margin-inline: auto;
  }

  .hero-carousel-container{
    width: 75%;
    margin-inline: auto;
    padding-inline: 0;
  }

  .right-hero-section .small-card-img {
    flex-basis: 25px;
  }

  .hero-carousel-container .blade-title{
    height: 80px;
    margin-bottom: 17px;
  }

  .card-carousel-container{
    width: 75%;
    margin-inline: auto;
    padding-left: 0;
    margin-bottom: 44px;
  }

  .card-carousel-container .heading-container {
    margin: 0 0 18px;
  }
  .card-carousel-container .carousel-card{
  width: 137.6px;
  }

  .free-games-container { 
    margin-inline: auto;
    width:67.19%;
    padding-inline: 40px;
  }

  .free-games-container .free-card {
    padding-left: 0;
    margin-left: 20px;
  }

  .free-card-container .free-img-container .free-now-btn {
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.2px;
  }

}

/* 1280+ screen */
@media screen and (min-width:1280px) {

  .header-container{
    column-gap: 1.75rem;
  }

  nav .store-img {
      margin-right: 1.5rem;
  }

  nav .tab-container .support-text{
    padding: 10px 16px;
  }

   nav .right-container .toolbar {
    gap: 1rem;
   }

  .hero-carousel-container .main-image{
    flex-basis: calc(100% - (176px + 16px));
  }
   .hero-carousel-container .blade-title{
    width: 200px;
    height: 145px;
    margin-bottom: 25px;
  }

   .hero-carousel-container .right-hero-section {
    margin-left: 16px;
    flex-basis: 176px;
  }

   .right-hero-section .small-card-img{
    flex-basis: 40px;
    border-radius: 4px;
  }

  .min-desktop {
    display: none;
  }

  .browse {
    display: block;
  }

  .card-carousel-container .carousel-card{
  width: 176px;
  }
}


/* desktop screen */

@media screen and (min-width: 1440px) {
  nav .right-container .toolbar {
    gap: 1rem;
  }
  /* nav .store-img {
    margin-left: 20px;
    margin-right: 1.5rem;
  } */
  nav .tab-container .support-text {
    padding: 10px 16px;
  }
  
  .search-section-container .discover .discover-text {
    margin-right: 9px;
  }

  

  .hero-carousel-container .main-image{
    flex-basis:calc(100% - (180px + 20px)) ;
  }

  .hero-carousel-container .hero-content-tab {
    left: 40px;
    bottom: 40px;
    height: auto;
    align-self: end;
  }

  .hero-carousel-container .blade-title{
    width: 220px;
    height: 160px;
    margin-bottom: 40px;
  }

  .hero-carousel-container .right-hero-section {
    margin-left: 20px;
    flex-basis: 180px;
  }

  .right-hero-section .small-card {
    border-radius: 8px;
  }

  .right-hero-section .small-card-img{
    flex-basis: 40px;
    border-radius: 4px;
    margin-inline: 15px;
  }

  .card-carousel-container .carousel-card{
  width: 200px;
  }

}

/* 1600+ screen */
@media screen and (min-width:1600px){
  .hero-carousel-container .hero-content-tab{
    bottom: 56px;
    left: 56px;
  }

  .hero-carousel-container .main-image {
    flex-basis:calc(100% - (256px + 32px))
  }

  .hero-carousel-container .blade-title {
    width: 260px;
  }

  .hero-carousel-container .right-hero-section{
    margin-left: 32px;
    flex-basis: 256px;
  }

  .right-hero-section .small-card-img {
        flex-basis: 43.5px;
   }

  .card-carousel-container .carousel-card{
  width: 183.333px;
  }

  .landscape-game-data {
    margin-top: 30px;
  }

  .landscape-game-data .game-name {
    margin-bottom: 15px;
  }

}

@media screen and (min-width:1905px){

  .card-carousel-container .carousel-card{
  width: 221.5px;
  }

   .hero-carousel-container .hero-content-tab{
    bottom: 56px;
    left: 56px;
  }

  .hero-carousel-container .main-image {
    flex-basis:calc(100% - (256px + 32px))
  }

  .hero-carousel-container .blade-title {
    width: 260px;
  }

  .hero-carousel-container .right-hero-section{
    margin-left: 32px;
    flex-basis: 256px;
  }

  .right-hero-section .small-card-img {
        flex-basis: 60px;
   }

}

